/* Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100;1,400&display=swap');

* {
  margin: 0;
  padding: 0
}
/* div#root {
  background-color: #2F3133
} */
a {
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-decoration: none;
}
p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}
h3{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
h4{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: italic;
}
/* Navbar Styles */
.nav-container {
  padding: 0
}
.hero {
  max-height: 700px;

}
.nav-top {
  display: flex;
  align-items: center;
  background-color: #2F3133;  justify-content: space-evenly;
  padding: 10px 0;
}
.nav-left {
  display: flex;
  align-items: center;
  margin-left: 60px;
}
.nav-left input {
  margin-left: 30px;
  width: 300px;
  border: solid 1px black;
  background-color: transparent;
  color: white;
}
.nav-left input:focus {
  outline: none;
}
.nav-right {
  /* margin-right: 50px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-cloud-icon {
  margin-right: 30px;
  color: white;
  cursor: pointer;
}
.nav-noti-icon {
  color: white;
  cursor: pointer;
}
.nav-headers{
  background-color: #414548;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
  padding: 4px 0;
  font-size: 16px;
}
.nav-headers a {
  color: #B7B7B8;
}
.nav-headers a:hover {
  color: #6D8284;
} 
.nav-headers .active {
  color: yellow;
}
.notification-container {
  background-color: white;
  border-radius: 10px;
  position: absolute;
  top: 130%;
  right: 70%;
  width: 300px;
  height: 400px;
  z-index: 1;
}
.notification-container h1{
  border-radius: 10px 10px 0 0;
  padding: 5px;
}
.notification-container ul li {
  list-style: none;
  padding: 10px;
}

#file-upload-form {
  background-color: white;
  position: absolute;
  top: 8%;
  right: 23%;
  z-index: 1;
  padding: 10px;
  text-align: center;
}

.login-buttons {
  display: flex;
  justify-content: space-between;
}


/* Home Section */


/* home hero */
.home-wavjam-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}
.home-hero-img {
  width: 100%;
  max-height: 700px
}
.home-info-sec {
  background-color: #20294A;
  padding: 90px 0;
}
.home-info-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.home-info-container div {
  width: 400px;
}
.home-info-container img {
  border-radius: 50%;
  margin-bottom: 20px;
}
.home-info-container div h1 {
  color: #DEE15D;
  text-align: center;
  margin-bottom: 10px;
}
.home-info-container div p {
  color: #8C52FF;
  text-align: center;
}
.home-find-wav-sec {
  background: linear-gradient(90deg, #20294a, #320037);
  padding: 50px 0;
}
.home-find-wav-container h1 {
  color: #DEE15D;
  font-style: italic;
  text-align: center;
  margin-bottom: 50px;
  font-size: 30px;
}
.home-find-wav-container h1 span {
  color: #8C52FF;
  font-style: italic;
}
.home-find-wav-container div {
  color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.home-find-wav-container a {
  color: white;
  width: max-content; 
  font-size: 25px;
  text-align: center;
  margin: 20px auto;
  font-weight: 500;
}
.home-find-wav-container a:hover {
  color: #8C52FF;
  cursor: pointer;
}
/* .home-find-wav-container h2 {
  width: 100%; 
  font-size: 25px;
  text-align: center;
  margin: 20px auto;
}
.home-find-wav-container h2:hover {
  color: #8C52FF;
  cursor: pointer;
} */
.popular-genres-sec {
  background: radial-gradient(circle at 0% 0%, #20294a, #947497);
  padding: 50px;
}
.popular-genres-sec h1 {
  text-align: center;
  color: #DEE15D;
  margin-bottom: 30px;
  font-size: 30px;
}
.popular-genres-sec button {
  display: block; 
  margin: 20px auto; 
  background-color: #ffffff; 
  color: black; 
  padding: 10px 20px; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
}
.popular-genres-sec button:hover {
  background-color: #8C52FF;
  color: white;
}

.popular-genres-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.popular-genres-container div {
  display: inline-block;
  margin: 20px;
}
.popular-genres-container div img {
  max-width: 250px;
  border-radius: 15px;
}
.popular-genres-container div {
  color: white;
  text-align: center;
}


/* Footer Section Styling */
footer {
  position: fluid;
  left: 0;
  bottom: 0;
  right: 0;
  padding-bottom: 20px;
  background-color: #1D1D1D;
  color: #f9f9f9;
}
footer section {
  padding: 0 50px;
}
section.top {
  padding-top: 30px;
  margin-bottom: 48px;
  text-align: center;
}
section.top img {
  display: block;
  height: 30px;
  margin: 0 0 30px;
}
section.top ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(2, 1fr);
}
section.top ul li a {
  display: block;
  margin-bottom: 3px;
  margin-top: 10px;
  color:
  rgb(255 255 255 / 90%);
  font-size: 13px;
}
section.top ul li a:hover{
  display: block;
  margin-bottom: 10px;
  color: #6D8284;
}
section.top h3 {
  color:rgb(255 255 255 / 40%);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
}
section.bottom {
  padding-top: 10px;
  border-top: 2pX solid
  rab(255 255 255 / 10%) ;
  color:
  rgb(255 255 255 / 40%);
  font-size: 13px;
}
.bottom {
  text-align: center;
}

.danger-btn {
  padding: 8px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: rgb(207, 17, 17);
  cursor: pointer;
}
.danger-btn:active {
  background-color: rgb(170, 13, 13);
}


/* Footer Responsiveness */
@media (width > 480px) {
  section.top ul {
    padding-right: 10%;
  }
}

@media (width > 600px) {
  footer article {
    flex-direction: row;
    min-height: 140px;
    margin: -70px 20px 20px;
    padding: 30px 50px 30px;
  }
  section.top ul {
    grid-template-columns: repeat(4, 1fr);
    padding-right: 0;
  }
}

