.profile-sec {
  background: radial-gradient(circle at 0% 0%, #20294a, #947497);
  padding: 20px 0;
}
.profile-container {
  max-width: 1250px;
  margin: 0 auto;
}
/* .profile-container div {
  background-color: #20294A;
  border-radius: 20px;
} */
.top-of-profile {
  width: 100%;
  padding: 20px;
  background-color: #20294A;
  border-radius: 20px;
}
.social-icons {
  display: flex;
  justify-content: end;
  color: white;
}
.profile-img-and-info {
  display: flex;
  justify-content: start;
  align-items: center;
}
.user-profile-img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  padding: 0 30px;
}
/* .profile-top-info {
  display: grid;
  grid-template-rows: repeat(3, 5fr);
  gap: 5px;
} */
.profile-top-info h1 {
  font-size: 35px;
}
.profile-top-info h1,
.profile-top-info h4, 
.about-me-sec h1 {
  color: #DEE15D;
}
.profile-top-info p,
.profile-type {
  color: #C6C3C3;
  font-style: italic;
  font-weight: 400;
}
.profile-top-buttons {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 10px;
  gap: 15px;
}
.profile-top-buttons button {
  padding: 10px 20px;
  border: none;
}
.follow-btn {
  background-color: #8C52FF;
  color: white
}
.message-btn {
  background-color: #C6C6C6;
}

.profile-mid-section {
  display: flex;
  /* justify-content: space-between; */
  gap: 30px;
}


.about-me-sec {
  width: 40%;
  margin: 20px 0;
  text-align: center;
  padding: 50px 0;
  background-color: #20294A;
  border-radius: 20px;
}
.about-me-container {
  margin: 0 auto;
  width: 80%;
}
.about-me-container h2 {
  color: white;
  font-size: 20px;
  font-weight: 400;
}
.about-me-sec hr {
  margin: 10px auto;
  width: 50%;
  border: 1px solid #969393;
}
.about-me-sec article{
  margin: 40px auto;
  width: 85%;
  color: #8C52FF;
  font-weight: 500;
}

.about-me-container .card-media-sec {
  margin: 20px;
  color: #8C52FF;
  font-weight: 500;
}

/* .profile-tags {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 20px;
}
.profile-tags p {
  display: inline-block;
  width: max-content;
  border-radius: 20px;
  color: white;
  background-color: #8C52FF;
  padding: 10px 20px;
  text-align: center;
} */
.profile-posts-sec {
  width: 50%;
  margin: 20px 0;
  text-align: center;
  padding: 0 0 50px 0;
  background-color: #20294A;
  border-radius: 20px;
  height: max-content;
}
.profile-posts-container h1 {
  color: #DEE15D;
  font-size: 35px;
  background-color: #2f3133;
  border-radius: 20px 20px 0 0;
  padding: 20px 0;
}
.tracks-section {
  margin-top: 40px;
}
.tracks-section h1 {
  font-size: 50px;
}
.similar-artists {
  background-color: #20294A;
  padding: 20px;
  border-radius: 20px;
  margin-top: 70px;
}
.similar-artists-container {
  display: flex;
  justify-content: start;
  gap: 20px;
  flex-wrap: wrap;
}
.similar-artists h1 {
  color: #DEE15D;
  font-size: 30px;
}
.similar-artists-container div {
  margin-top: 40px;
  /* display: grid;
  grid-template-rows: repeat(2, 1fr); */
  display: inline-block;
  text-align: center;
}
.similar-artists-container div p {
  color: white;
}
.similar-artists-container div img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}